<!-- <div class="col-md-4"></div> -->

<!-- <body background="../../../assets/main-image.jpeg"> -->
<div class="col-md-4 center" id="body">
  <h3 id="text">Welcome</h3>
  <div class="button-row">
    <button mat-stroked-button color="warn" [routerLink]="['../../sign-up']">I want to work</button>
    <button mat-stroked-button color="primary" [routerLink]="['../../post-project']">I want to Hire</button>
  </div>
</div>
<!-- </body> -->