/* body{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} */

.center{
    margin: auto;
    padding: 10px;
    width: 10%;
}

#text{
    text-align: center;
}

.button-row button{
    width: 100%;
}

#body{
    padding: 135px 0;
    text-align: center;
    /* background-image: url("../../../assets/previewimg.jpg"); */
}