<div class="col-md-4 center" id="body">
  <mat-card class="card">
    <mat-card-content>
      <button class="loginBtn loginBtn--google" (click)="socialSignIn('google')">
        Login with Google
      </button>
    </mat-card-content>
  </mat-card>
  <mat-divider class="mat-divider"></mat-divider>
  <span class="dot">OR</span>
  <mat-divider class="mat-divider"></mat-divider>
  <mat-card class="card" id="material-card">
    <mat-card-header id="text">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm">
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="emailFormControl">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="passwordFormControl">
        </mat-form-field>
      </div>
    </form>
    Show Password
    <mat-checkbox class="example-margin" [(ngModel)]="checked">
    </mat-checkbox>
    <mat-card-actions>
      <button type="button" class="btn btn-success btn-block">Login</button>
    </mat-card-actions>
    Not a member?<a mat-button [routerLink]="['../sign-up']" style="color:White">Login</a>
  </mat-card>
</div>