<div class="col-md-4 center" id="body">
  <mat-card id="material-card">
    <button class="loginBtn loginBtn--google" (click)="socialSignIn('google')">
      Login with Google
    </button>
  </mat-card>
  <mat-divider class="mat-divider"></mat-divider>
  <span class="dot">OR</span>
  <mat-divider class="mat-divider"></mat-divider>
  <mat-card class="card" id="material-card">
    <mat-card-header id="text">
      <mat-card-title>Sign-up</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="signUpForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="emailFormControl">
      </mat-form-field>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="userNameFormControl">
        </mat-form-field>
      </div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="passwordFormControl">
      </mat-form-field>
    </form>
    Show Password
    <mat-checkbox class="example-margin" [(ngModel)]="checked">
    </mat-checkbox>
    <h5>I am looking to:</h5>
    <mat-radio-group>
      <mat-radio-button value="1" [routerLink]="['../post-project']">Hire</mat-radio-button>
      <mat-radio-button value="2">Work</mat-radio-button>
    </mat-radio-group>
    <mat-card-actions>
      <button type="button" class="btn btn-success btn-block">Start Working</button>
    </mat-card-actions>
    Already a member?<a mat-button [routerLink]="['../login']" style="color:White">Login</a>
  </mat-card>
</div>